<div class="row">
    <div class="col-md-3 pull-left">
        <div class="input-group input-group-sm">
            <input type="text" id="input_search" class="form-control">
             <span class="input-group-btn">
                <button id="id_search" class="btn btn-sm btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span> <%= nav_head.btn_search %>
                </button>
             </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <div class="pull-right">
        <a href="#modal-container-858025" role="button" class="btn btn-sm btn-gsta-primary" data-toggle="modal" id="id_btn_add_obj" name="id_btn_add_obj">
            <span class="glyphicon glyphicon-plus"></span> <%= nav_head.btn_add %>
        </a>
        <a id="id_delete_user_all" role="button" class="btn btn-sm btn-gsta-danger">
            <span class="glyphicon glyphicon-trash"></span> <%= nav_head.btn_del %>
        </a>
        <a id="modal-modify" href="#modal-container-modify" role="button" class="btn btn-info hide" data-toggle="modal"></a>
        <a id="modal-delete" href="#modal-container-delete" role="button" class="btn btn-danger hide" data-toggle="modal"></a>
    </div><!-- /.col-lg-6 -->
</div><!-- /.row -->