<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="images/telecom.ico">
    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="stylesheets/jquery.treegrid.css">
    <link href="stylesheets/bootstrap-theme.min.css" rel="stylesheet">
    <link href="stylesheets/dashboard.css" rel="stylesheet">
    <link href="stylesheets/gsta-style.css" rel="stylesheet">
    <link href="stylesheets/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="javascripts/jquery-2.0.0.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/Chart.min.js"></script>
    <script src="javascripts/moment.js"></script>
    <script src="javascripts/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="javascripts/jquery.treegrid.min.js"></script>
    <script src="javascripts/gsta-menu.js"></script>
    <style id="holderjs-style" type="text/css"></style>
    <script>
        <%
        var name = "id_left_menu_ul_";
        for(var i=0; i<nav_head.menu_item_links.length; i++){
            if(nav_left.menu_head == nav_head.menu_item_links[i].menu_head){
                name += i;
                break;
            }
        }
        %>
        $(document).ready(function() {initMenu("<%=name%>")});
    </script>
    <title><%= content.title %></title>