<div class="panel panel-gsta-sm panel-default"  style="margin: 10px;">
    <div class="panel-body">
        <center>
            <img src="images/graph.png" class="img-rounded">
            <h4>没有相关数据</h4>
        </center>
    </div>
</div>