<script>
    var port_history_data = <%-port_history_str%>;
    var labels = <%-labels%>;
    $("document").ready(function(){
        //画网卡
        var name = "#id_port_history_chart";
        var ctx = $(name).get(0).getContext("2d");
        var dateset_rx = {
            fillColor : "rgba(66,139,202,1)",
            strokeColor : "rgba(220,220,220,1)",
            pointColor : "rgba(220,220,220,1)",
            pointStrokeColor : "#fff",
            data : []
        };
        var dateset_tx = {
            fillColor : "rgba(220,220,220,0.5)",
            strokeColor : "rgba(220,220,220,1)",
            pointColor : "rgba(220,220,220,1)",
            pointStrokeColor : "#fff",
            data : []
        };
        dateset_rx.data = port_history_data.rx;
        dateset_tx.data = port_history_data.tx;
        var data = {
            labels:labels,
            datasets : [dateset_rx,dateset_tx]
        };
        //alert(JSON.stringify(data));
        var myPieChart = new Chart(ctx).Line(data,{pointDot:true, scaleShowLabels : true});//画曲线图
    });
    $(window).resize(function(){

    });
</script>
<div class="panel panel-gsta-sm panel-default" style="margin: 10px;">
    <div class="panel-body">
        <!--实时信息-->
        <div class="row placeholders">
            <div class="col-xs-12 col-sm-12 placeholder">
                <div class="panel panel-gsta-sm panel-default">
                    <div class="panel-body"  style="overflow: auto;">
                        <h4><%=port_history.Name%>(KB/S)</h4>
						<h5><span style="background:#428BCA;">&nbsp;&nbsp;</span><span>rx</span>&nbsp;&nbsp;&nbsp;<span style="background:#CDCDCD;">&nbsp;&nbsp;</span><span>tx</span></h5>
                        <span class="text-muted"></span><br>
                        <canvas id="id_port_history_chart" width="900" height="160"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>