<script>
    var switch_history_data = <%-switch_history_str%>;
    var labels = <%-labels%>;
    $("document").ready(function(){
        //画网卡
        for(var j=0; j<switch_history_data.Port.length; j++){
            var name = "#id_port_history_chart_"+j;
            var ctx = $(name).get(0).getContext("2d");
            var dateset_rx = {
                fillColor : "rgba(66,139,202,1)",
				strokeColor : "rgba(220,220,220,1)",
				pointColor : "rgba(220,220,220,1)",
                pointStrokeColor : "#fff",
                data : []
            };
            var dateset_tx = {
                fillColor : "rgba(220,220,220,0.5)",
                strokeColor : "rgba(220,220,220,1)",
                pointColor : "rgba(220,220,220,1)",
                pointStrokeColor : "#fff",
                data : []
            };
            dateset_rx.data = switch_history_data.Port[j].rx;
            dateset_tx.data = switch_history_data.Port[j].tx;
            var data = {
                labels:labels,
                datasets : [dateset_rx,dateset_tx]
            };
            //alert(JSON.stringify(data));
            var myPieChart = new Chart(ctx).Line(data,{pointDot:true,scaleShowLabels:true});//画曲线图
        }
    });
</script>
<div class="panel panel-gsta-sm panel-default" style="margin: 10px;">
    <div class="panel-body">
        <!--实时信息-->
        <div class="row placeholders">
            <%for(var i=0; i<switch_history.Port.length; i++){%>
            <div class="col-xs-12 col-sm-6 placeholder">
                <div class="panel panel-gsta-sm panel-default">
                    <div class="panel-body">
                        <h4><%=switch_history.Port[i].Name%>(KB/S)</h4>
						<h5><span style="background:#428BCA;">&nbsp;&nbsp;</span><span>rx</span>&nbsp;&nbsp;&nbsp;<span style="background:#CDCDCD;">&nbsp;&nbsp;</span><span>tx</span></h5>
                        <span class="text-muted"></span><br>
                        <canvas id="id_port_history_chart_<%=i%>" width="450" height="160"></canvas>
                    </div>
                </div>
            </div>
            <%}%>
        </div>
    </div>
</div>